*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased
}

header{
    display: flex;
    background-color: #ffffff;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b6b1b1;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}

.myntra_logo{
    height: 45px;
}

.logo-container{
    margin-left: 4%;
}

.action-bar{
    margin-right: 4%;
}

.nav_bar{
    display: flex;
    min-width: 500px;
    justify-content: space-evenly;

}

.nav_bar a{
    font-size: 12;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 28px 0;
    border-bottom: 2px solid #ffffff;
}

.nav_bar a:hover{
    border-bottom: 2px solid #f54e77;  
}

.nav_bar a sup{
    font-size: 10px;
    color: #ff3f6c;
    font-weight: 700;
}

.search_bar{
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
    border-radius: 3px 0 0 3px;
}

.search_icon{
    box-sizing: content-box;
    height: 20px;
    padding: 10px; 
    background-color:#f5f5f6;
    color: #282c3f;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
    
}

.search_input{
    color: #696e79;
    background-color: #f5f5f6;
    height: 40px;
    flex-grow: 1;
    border: 0;
    border-radius: 0 4px 4px 0;
}

.action_bar{
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
    margin-right: 50px;
}

.action_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action_container a{
    text-decoration: none;
    color: #70727a;
    font-weight: 600;
}


/* main */

main{
    padding: 0 5vw;
}

.banner_container {
    margin: 20px 0 10px 0;
}

.banner_img {
    width: 100%;
}

.category_heading {
    text-transform: uppercase;
    color: #3e4152;
    text-align: center;
    letter-spacing: .15em;
    font-size: 2.8em;
    margin: 30px;
    max-height: 5em;
    font-weight: 700;
}

.category_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sale_item {
    width: 250px;
}

/* footer */

.footer_container {
    padding: 30px 0px 40px 0px;
    background: #FAFBFC;
    display: flex;
    justify-content: space-evenly;
}

.footer_column {
    display: flex;
    flex-direction: column;
}

.footer_column h3 {
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 25px;
}

.footer_column a {
    color: #696b79;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}

.copyright {
    color: #94969f;
    text-align: center;
    padding: 15px;
}